<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PgyerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PgyerManager.Properties.Settings>
            <setting name="apiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="config" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultConfig" serializeAs="String">
                <value>-1</value>
            </setting>
        </PgyerManager.Properties.Settings>
    </userSettings>
</configuration>